<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <!-- 언어 선택 메뉴 추가 -->
 <!-- 언어 선택 메뉴 추가 -->
<!-- 언어 선택 메뉴 추가 -->
<ul class="nav-lang" style="display: flex; justify-content: flex-end; list-style: none; padding: 0; margin-right: 20px;">
  {% for lang in site.languages %}
  <li class="lang-item" style="margin-left: 10px;">
    <a style="{% if lang == site.active_lang %}font-weight: bold;{% endif %} text-align:center; text-decoration: none;" 
       href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url | remove_first: '/'}} 
       {% else %} {{site.baseurl}}/{{ lang }}{{page.url}} {% endif %}">
      {{ lang }}
    </a>
  </li>
  {% endfor %}
</ul>
    <!-- 언어 선택 메뉴 끝 -->

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script>
      document.documentElement.classList.remove("no-js");
    </script>
  </body>
</html>